

// Micro clearfix provides an easy way to contain floats without adding additional markup
//
// Example usage:
//
//    // Contain all floats within .wrapper
//    .wrapper {
//      @include clearfix;
//      .content,
//      .sidebar {
//        float : left;
//      }
//    }

@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Acknowledgements
// Micro clearfix: [Nicolas Gallagher](http://nicolasgallagher.com/micro-clearfix-hack/)









/*
*	Remove padding, margin and bullets from UL's or OL's 
*/
@mixin unStyleList{
	list-style: none;
	margin: 0;
	padding: 0;	
}







/*
*	Cover something...absolutely...
*/
@mixin absoluteCover{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}






/*
*	Retina images
*/
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}







/*
* 	Very useful mixin for quickly wrapping things in media queries
*
* 	Usage: @include respond(S){ display:none } - hide things that fall inside the small range etc...
*/

$break-large: 1180px;
$break-small: 720px;
$media-queries: true !default;

@mixin respond($media) {

	@if $media-queries {

	  @if $media == S {
	    @media only screen and (max-width: $break-small) { @content; }
	  }

	  @else if $media == M {
	    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
	  }

	  @else if $media == L {
	    @media only screen and (min-width: $break-large) { @content; }
	  }

	  @else if $media == ML {
	    @media only screen and (min-width: $break-small + 1) { @content; }
	  }

	}
	//For IE
	@else if $media != S {
	    @content;
	}

}




